# Build directories
build/
downloads/
sstate-cache/
tmp/

# External layers
layers/*
!layers/meta-beaglev-fire-bsp
!layers/meta-spaceros-distro
!layers/meta-spaceros-app

# kas-container executable
kas-container

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
# Kas shell history
.kas_shell_history
